extends layout.pug

block content
	h1.text-center.stitched About Pug Pizza
	p.text-center.aboutPizza.
		Surround yourself with angels. Let’s see what Chef Dee got that they don’t want us to eat. We don’t see them, we will never see them. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. Give thanks to the most high. Stay focused. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. 
	p.text-center.aboutPizza.
		Lorem Khaled Ipsum is a major key to success. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Let’s see what Chef Dee got that they don’t want us to eat. Another one. Another one. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. The key to success is to keep your head above the water, never give up. Lion! Give thanks to the most high.
	img.center-block.aboutPugImg(src='https://s-media-cache-ak0.pinimg.com/236x/b1/6d/81/b16d813bb3f1decebaec3ab67f9efd79.jpg')