extends layout.pug

block content
	h1.text-center.stitched Welcome to Pug Pizza!
	img.center-block#pugPizza(src='https://s-media-cache-ak0.pinimg.com/564x/ea/c0/72/eac0722ebb71871bce8c2cfb09e936ad.jpg')