extends layout.pug

block content
	h1.text-center.stitched Order Pug Pizza
	form(method='POST')
		.form-group
			label.contactForm(for='name') Name
			input.form-control#name(placeholder="Pug Preston" type='text' name='name')
		.form-group
			label.contactForm(for='email') Email Address
			input.form-control#email(placeholder="pugmaster@pug.pug" type='email' name='email')
		.form-group
			label.contactForm(for='phone') Phone Number
			input.form-control#phone(placeholder="1-800-PRO-PUGS" type='tel' name='phone')
		.form-group
			label.contactForm(for='size') Size
			select.form-control#size(name='size')
				option
				option(value=10) Small: 10"
				option(value=12) Medium: 12"
				option(value=14) Large: 14"
				option(value=1776) 'Murica: 1776"
		button.btn.btn-success.btn-lg(type="submit") Submit