extends layout.pug

block content
	h1.text-center.stitched Order Pug Pizza
	if msg
		h2= msg
	form(method='POST')
		.form-group
			label.contactForm(for='email') Email Address
			input.form-control#email(placeholder="pugmaster@pug.pug" type='email' name='email' required)
		.form-group
			label.contactForm(for='password') Password
			input.form-control#password(placeholder="**************" type='text' name='password' required)
		.form-group
			label.contactForm(for='passwordConfirmation') Password Confirmation
			input.form-control#passwordConfirmation(placeholder="**************" type='text' name='passwordConfirmation' required)
		button.btn.btn-success.btn-lg(type="submit") Register